<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Study</title>
</head>
<body>
    <section class="main" id="main">
        {% for argument in arguments %}
            <article class="article-xp">
                <header class="header-quest">
                    <!-- <p class="regardingclaim">Regarding the claim:</p> -->
                    <p class="claim">{{ argument[0] }}</p>
                </header>
                <!-- <div class="empty"></div> -->
                <p class="argument">{{ argument[1] }}</p>
            </article>
        <hr>
        {% endfor %}
        <form action="/questionnaire/" method="get">
            <input hidden id="user" name="user" value="{{ user }}">
            <input type="submit" value="Finished reading">
        </form>
    </section>
</body>
</html>